<!DOCTYPE html>
<html lang="nl-NL"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">

    <title>    I want to learn your watering can preferences
</title>
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
    
    <link rel="stylesheet" href="static/css_003.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/css_002.css" type="text/css">
    <link rel="stylesheet" href="static/bootstrap.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="static/font-awesome.css">

    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/merchantProduct.css">
        <link rel="stylesheet" href="static/category.css">
    <link href="static/css.css" rel="stylesheet" type="text/css">

    </head>

<body>
    <div class="page_wrap">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="pull-left">
                            <a href="http://shopsaloon.com/products" title="ShopSaloon" id="logo">
                                <i class="fa fa-shopping-cart"></i> Powered by ShopSaloon
                            </a>
                        </h1>

                </div>
            </div>
        </header>

        
        <div class="content">
            <div class="container">
                
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="search_results">

                <div style="background-color: #f7f6f6; margin-bottom: 30px; border: 1px dashed #ececec;">


                    <div class="col-md-12" style="padding-left: 30px;">
                        <br>
                        <h4>I want to learn your watering can preferences</h4>
                        <p>To be more precise, I'm trying to find out whether I can learn about your watering can preferences by treating this online store as a species of living shops. In technical terms, an artificial life type selection mechanism drives a genetic programming core which evolves the SQL-queries that result in the products you are looking at. Darwinism in action, baby.</p>
                        <p>To participate in the experiment, imagine you are in dire need of a watering can. Click products you find interesting and the store adapts to your behaviour. Didn't find anything of your liking? Come back tomorrow: the offering will change based on the interests of people like you. There's a signup form for a daily reminder below - I'll acknowledge your participation in the paper if you sign up :)</p>
                        <p>Thanks so much for participating!</p>

                        <p>You are currently looking at fenotype {{instance}}. Want to check out a different variety of this store right now? <a href="/newsession">Click here</a>, but note that different generations can have an equal or similar fenotype.</p>
                        <p>Interested in the genotype of ALL THE STORES? <a href="/population">Check it out.</a></p>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 style="margin-bottom: 20px; color: #FF7302">Today's hot watering cans</h4>
                    </div>
{% block products %}

{% endblock %}
                                    </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
            </div>
        </div>
    </div>
<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
<form action="//tomrijntjes.us12.list-manage.com/subscribe/post?u=2655d27d2c824e8f4fee49bb8&amp;id=83686a5f44" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <h2>Subscribe for a daily reminder for just 7 days and the resulting paper. Thanks!</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
    <label for="mce-FNAME">First Name </label>
    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
    <label for="mce-LNAME">Last Name </label>
    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2655d27d2c824e8f4fee49bb8_83686a5f44" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
    <div id="footer">
        <div class="container">
            <a class="footer_link" href="http://shopsaloon.com/">Shopsaloon.com</a>
            <a class="footer_link" href="http://shopsaloon.com/docs/ShopSaloon%20Privacy%20Policy%202015-09-03.pdf" target="_blank">Privacy policy</a>

            <div class="site_info">
                © 2016 ShopSaloon - All rights reserved
            </div>
        </div>
    </div>

    <script src="static/analytics.js" async=""></script><script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" src="static/jquery-ui.js"></script>
    <script type="text/javascript" src="static/script.js"></script>
    <script src="static/bootstrap.js"></script>
    <script type="text/javascript">
        function imgError(image) {
            image.onerror = '';
            image.src = '/css/images/missing-product.gif';
            return true;
        }

        jQuery(window).load(function(){
           jQuery('.image_not_found').show();
        });
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66367372-5', {"cookieDomain":"none"});
        ga('send', 'pageview');
    </script>

        <script type="text/javascript" src="static/category.js"></script>

</body></html>