<!DOCTYPE html>
<html lang="nl-NL"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">

    <title>    Online vitamine C kopen? Bekijk het aanbod op ShopSaloon!
</title>

    
    <link rel="stylesheet" href="static/css_003.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/css_002.css" type="text/css">
    <link rel="stylesheet" href="static/bootstrap.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="static/font-awesome.css">

    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/merchantProduct.css">
        <link rel="stylesheet" href="static/category.css">
    <link href="static/css.css" rel="stylesheet" type="text/css">

    </head>

<body>
    <div class="page_wrap">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="pull-left">
                            <a href="http://shopsaloon.com/products" title="ShopSaloon" id="logo">
                                <i class="fa fa-shopping-cart"></i> ShopSaloon
                            </a>
                        </h1>
                        <div class="clear"></div>
                            <div class="pull-right" style="line-height: 60px; font-family: 'Handlee', cursive; font-size: 20px;">Al 1438 mensen gingen je voor!</div>
                    </div>
                </div>
            </div>
        </header>

        
        <div class="content">
            <div class="container">
                
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="search_results">

                <div style="background-color: #f7f6f6; margin-bottom: 30px; border: 1px dashed #ececec;">
                    <div class="col-md-4" style="padding: 0px;">
                        <div class="large_product_image"></div>
                    </div>

                    <div class="col-md-8" style="padding-left: 30px;">
                        <br>
                        <h4>I want to learn your watering can preferences</h4>
                        <p>To be more precise, I'm trying to find out whether I can learn about your watering can preferences by treating this online store as a species of living shops. In technical terms, an artificial life type selection mechanism drives a genetic programming core which evolves the SQL-queries that result in the products you are looking at. Darwinism in action, baby.</p>
                        <p>To participate in the experiment, imagine you are in dire need of a watering can. Click products you find interesting and the store adapts to your behaviour. Didn't find anything of your liking? Come back tomorrow: the offering will change based on your interests.</p>
                        <p>Thanks so much for participating!</p>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 style="margin-bottom: 20px; color: #FF7302">Vandaag in de aanbieding</h4>
                    </div>
{% for product in products %}
                                            <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                            <div class="product">
                                <div class="row">
                                    <div class="col-md-5">
                                        <a href="/tracking/{{product.id}}" rel="nofollow" target="_blank" class="product_image" style="background-image: url(
{% if product.image_medium_url is not none %}
                                        {{product.image_medium_url}}
                                        {% elif product.image_small_url is not none %}
                                        {{product.image_small_url}}
                                        {% else %}
                                        {{product.image_large_url}}
                                        {% endif %}"></a>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="product_information">
                                            <h5 style="margin-bottom: 5px; height: 32px; overflow: hidden;">{{product.name}}</h5>
                                                    {% if product.price_old > product.price_old %}
                                                        <span style="color: gray; font-style: italic;">(€<del>{{product.price_old}}</del>)</span>
                                                    {% endif %}
                                                    <strong style="color: #45B6AF; font-size: 15px;">€ {{product.price}}</strong>
                                            <br><br>
                                            <a href="/tracking/{{product.id}}" rel="nofollow" target="_blank" class="visit_merchant_button">Bekijk product »</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
{% endfor %}
                                    </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <a class="footer_link" href="http://shopsaloon.com/">Shopsaloon.com</a>
            <a class="footer_link" href="http://shopsaloon.com/docs/ShopSaloon%20Privacy%20Policy%202015-09-03.pdf" target="_blank">Privacy policy</a>

            <div class="site_info">
                © 2016 ShopSaloon - All rights reserved
            </div>
        </div>
    </div>

    <script src="static/analytics.js" async=""></script><script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" src="static/jquery-ui.js"></script>
    <script type="text/javascript" src="static/script.js"></script>
    <script src="static/bootstrap.js"></script>
    <script type="text/javascript">
        function imgError(image) {
            image.onerror = '';
            image.src = '/css/images/missing-product.gif';
            return true;
        }

        jQuery(window).load(function(){
           jQuery('.image_not_found').show();
        });
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66367372-5', {"cookieDomain":"none"});
        ga('send', 'pageview');
    </script>

        <script type="text/javascript" src="static/category.js"></script>

</body></html>