{% extends "base.html" %}
{% block products %}
{% for product in products %}
                                            <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                            <div class="product">
                                <div class="row">
                                    <div class="col-md-5">
                                        <a href="/tracking/{{product.id}}" rel="nofollow" target="_blank" class="product_image" style="background-image: url(
{% if product.image_medium_url is not none %}
                                        {{product.image_medium_url}}
                                        {% elif product.image_small_url is not none %}
                                        {{product.image_small_url}}
                                        {% else %}
                                        {{product.image_large_url}}
                                        {% endif %}"></a>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="product_information">
                                            <h5 style="margin-bottom: 5px; height: 32px; overflow: hidden;">{{product.name}}</h5>
                                                    {% if product.price_old|float > product.price|float %}
                                                        <span style="color: gray; font-style: italic;">(€<del>{{product.price_old}}</del>)</span>
                                                    {% endif %}
                                                    <strong style="color: #45B6AF; font-size: 15px;">€ {{product.price}}</strong>
                                            <br><br>
                                            <a href="/tracking/{{product.id}}" rel="nofollow" target="_blank" class="visit_merchant_button">Visit product page »</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
{% endfor %}
{% endblock %}