<html>

<p>Current Population<a href='/dump/pop'>Download.</a></p>

<table>
{% for individual in pop %}
<TR>
   <TD class="c1">{{individual.instance_number}}</TD>
   <TD class="c2">{{individual.query}}</TD>
   <TD class="c3">{{individual.energy}}</TD>
   <TD class="c4"><SPAN>{{individual.ids|length}}</SPAN></TD>
</TR>
{% endfor %}
</table>

<p>Sessions. <a href='/dump/sessions'>Download.</a></p>

<table>
{% for session in sessions %}
<TR>
   <TD class="c1">{{session.datetime}}</TD>
   <TD class="c2">{{session.instance}}</TD>
</TR>
{% endfor %}
</table>


<p>Click events. <a href='/dump/clicks'>Download.</a></p>

<table>
{% for event in click_events %}
<TR>
   <TD class="c1">{{event.instance_number}}</TD>
   <TD class="c2">{{event.datetime}}</TD>
   <TD class="c3">{{event.energy}}</TD>
   <TD class="c4"><SPAN>{{event.query}}</SPAN></TD>
   <TD class="c4"><SPAN>{{event.ids}}</SPAN></TD>
</TR>
{% endfor %}
</table>

<p>Population changes. <a href='/dump/events'>Download.</a></p>

<table>
{% for event in pop_events %}
<TR>
   <TD class="c1">{{event.type}}</TD>
   <TD class="c2">{{event.datetime}}</TD>
   <TD class="c3">{{event.query}}</TD>
   <TD class="c4"><SPAN>{{event.ids}}</SPAN></TD>
</TR>
{% endfor %}
</table>
</html> 
