<!DOCTYPE html>
<html lang="nl-NL"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">

    <title>    Vitortho Voedingssupplementen Vitortho Ascorbate mineral C 90tab
</title>

        <meta name="description" content="Koop Vitortho Voedingssupplementen Vitortho Ascorbate mineral C 90tab online via ShopSaloon. ">
    <meta name="keywords" content="gezondheid, Vitortho Voedingssupplementen Vitortho Ascorbate mineral C 90tab, Now, ShopSaloon">
    <meta name="author" content="ShopSaloon">
    <meta name="robots" content="noindex">

    <link rel="stylesheet" href="static/css_002.css" type="text/css" media="all">
    <link rel="stylesheet" href="static/css.css" type="text/css">
    <link rel="stylesheet" href="static/bootstrap.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="static/font-awesome.css">

    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/merchantProduct.css">
    
        <meta http-equiv="refresh" content="1;URL={{outbound}}">

    <style>
        .message {
            width: 100%;
            margin-top: 150px;
            border: 1px solid red;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
        }

        p {
            text-align: center;
            font-size: 20px;
            margin-top: 150px;
        }
    </style>
</head>

<body>
    <div class="page_wrap">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="pull-left">
                            <a href="http://shopsaloon.com/products" title="ShopSaloon" id="logo">
                                <i class="fa fa-shopping-cart"></i> ShopSaloon
                            </a>
                        </h1>
                        <div class="clear"></div>
                                            </div>
                </div>
            </div>
        </header>

        
        <div class="content">
            <div class="container">
                    <div class="col-md-12">
        
        <h1>Je wordt doorgestuurd naar de site van Bol.com</h1>
    </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <a class="footer_link" href="http://shopsaloon.com/">Shopsaloon.com</a>
            <a class="footer_link" href="http://shopsaloon.com/docs/ShopSaloon%20Privacy%20Policy%202015-09-03.pdf" target="_blank">Privacy policy</a>

            <div class="site_info">
                © 2016 ShopSaloon - All rights reserved
            </div>
        </div>
    </div>

    <script src="static/analytics.js" async=""></script><script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" src="static/jquery-ui.js"></script>
    <script type="text/javascript" src="static/script.js"></script>
    <script src="static/bootstrap.js"></script>
    <script type="text/javascript">
        function imgError(image) {
            image.onerror = '';
            image.src = '/css/images/missing-product.gif';
            return true;
        }

        jQuery(window).load(function(){
           jQuery('.image_not_found').show();
        });
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66367372-5', {"cookieDomain":"none"});
        ga('send', 'pageview');
    </script>

    <script>
    window.setTimeout(function() {
        window.location.href = "{{outbound}}";
    }, 1000);
</script>

</body></html>